:root{
    --time:14s;
    --slide_unit:4;
}

.index_main{
    display: flex;
    margin: 0px 10px;
    z-index: 0;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
}
body{
    background-image: url(main_background.jpg);
    background-size: cover;
    background-color: azure;
}
.developing{
    display: flex;
    align-items: center;
}
.menu_extend .link:hover {
    transform: scale(1.05);
    font-weight: bold;
}
.text_side{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-items: right;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1.8rem;
    background-color: rgb(0, 170, 255, 0.3);
    box-shadow: 0px 0px 10px 3px rgb(10, 92, 140);
}
.ts_text{
    display: flex;
    justify-content: center;
}
.dev_process{
    display: flex;
}
.process{
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid black;
    background-color: white;
}
.fill_process{
    background-color: green;
}
.loading_process{
    height: 1.8rem;
    width: 1.8rem;
    animation: loading 1s infinite linear;
    background-color: orange;
    
}
.empty_process{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
@keyframes loading{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moving {
    0% {
        transform: translateX(10rem) scale(0.5);
    }
    20% {
        transform: translateX(-12rem) scale(1);
    }
    80% {
        transform: translateX(-68rem) scale(1);
    }
    100% {
        transform: translateX(-95rem) scale(0.5);
    }
}


.intro{
    margin-top: 5rem;
    width: 90%;
    height: 27rem;
    position:relative;
    mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
);

a:hover{
    scale: 1.2;
}

}
.slide_head{
    display: flex;
    justify-content: center;
    margin: 0.4rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.slide_article{
    font-size: 2rem;
}
.intro_item{
    margin-top: 1rem;
    position: absolute;
    width: 20rem;
    height: 23rem;
    background-color: rgba(7, 109, 187, 0.886);
    box-shadow: 0px 0px 5px 4px rgba(7, 109, 187, 0.886);
    border-radius: 4px;
    left: 79em;
    animation: moving var(--time) linear infinite;
    padding: 1.2rem;
}
.item1 {
    animation-delay: -10.5s;
}

.item2 {
    animation-delay: -7s;
}

.item3 {
    animation-delay: -3.5s;
}

.item4 {
    animation-delay: 0s;
}