body{
    background-image: url(weather_photo/background.webp);
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.main_head{
    font-size: 46px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    margin: 20px 0px;
}
.weather_label{
    padding: 18px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 100px;
    background-color: rgb(245, 1, 9, 0.5);
    font-size: 22px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    
}
.search_bar{
    border-radius: 5px;
    padding: 4px, 8px;
    font-size: 14px;
    color: white;
    background-color: #0C50F0;
}
.search_bar::placeholder {
    color: white;
    font-size: 14px ;
    font-style: italic; /* Фонтын стиль (заавал биш) */
    padding-left: 5px;
}
.button{
    border-radius: 5px;
    padding: 4px 8px;
    background-color: rgb(48, 76, 230);
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.button:hover{
    scale: 1.05;
}
.menu_extend .link:hover {
    transform: scale(1.05);
    font-weight: bold;
}
.devil_say{
    position: absolute;
    font-size: 14px;
    color: white;
    width: 200px;
    height: 55px;
    top: -70px;
    left: 70px;
    padding: 10px;
    background-color: red;
    border: 3px solid black;
    border-radius: 5px;
}
.devil{
    display: none;   
}
.devi_container{
    display: flex;
    flex-direction: column;
    width: 100px;
}
